# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

code .
cgit sgils

# next
next-env.d.ts
.next/*

*.env*

.npmrc

# supabase local cli state
supabase/.temp

# typescript incremental build info
*.tsbuildinfo
