/* stylelint-disable block-no-empty */
/* stylelint-disable selector-type-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-disable selector-id-pattern */
#__next {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

body,
html,
#__next {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  @apply bg-slate-900;
}
/* stylelint-enable selector-id-pattern */

.todoapp {
  display: flex;
  flex-grow: 1;
}

.flex-fill {
  display: flex;
  flex-grow: 1;
}

/* stylelint-disable selector-class-pattern */
.react-flow__node {
  @apply p-0 m-0;
}

hr.ProseMirror-selectednode {
  @apply border-2 border-blue-600;
}

/* stylelint-enable selector-class-pattern */

.tool-button {
  @apply rounded bg-orange-500 hover:bg-white text-slate-900 hover:text-slate-800 flex justify-center px-2 py-1 transition-colors;
}

.stone:not(:last-child) {
  @apply mb-3;
}

.chart-prose > *:not(hr) {
  @apply mx-3;
}

.chart-prose > hr {
  height: 20px;
  @apply bg-slate-900 border-0 my-5;
}

.react-flow {
  @apply bg-slate-700;
}

.fringe-top,
.fringe-bottom,
.fringe-top-bottom {
  height: 0;
  overflow: visible;
  position: relative;
  transform: scale(1, 0.5);
}

.fringe-bottom div {
  position: absolute;
  height: 16px;
  left: 0;
  right: 0;
  top: -1px;

  --mask: radial-gradient(22.36px at 50% calc(100% - 30px), #000 99%, #0000 101%) calc(50% - 0px) 0/40px
      100%,
    radial-gradient(22.36px at 50% calc(100% + 20px), #0000 99%, #000 101%) calc(50% - 20px)
      calc(100% - 10px) / 40px 100% repeat-x;

  /* -webkit-mask: var(--mask); */
  mask: var(--mask);
}

.fringe-top div {
  position: absolute;
  height: 16px;
  left: 0;
  right: 0;
  top: -15px;

  --mask: radial-gradient(22.36px at 50% 30px, #000 99%, #0000 101%) calc(50% - 20px) 0/40px 100%,
    radial-gradient(22.36px at 50% -20px, #0000 99%, #000 101%) 50% 10px/40px 100% repeat-x;

  /* -webkit-mask: var(--mask); */
  mask: var(--mask);
}

/* stylelint-disable-next-line selector-class-pattern */
.react-flow__attribution {
  display: none;
}

.node-switch {
  @apply bg-transparent;
}

.node-case {
  @apply not-last:mr-2 items-center flex flex-col;
}

.standard-button {
  @apply inline-flex items-center justify-center rounded-md border border-sky-500 bg-white px-2 py-1 m-1 text-sm font-medium text-sky-500 shadow-sm hover:bg-sky-500 hover:text-zinc-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 self-center cursor-pointer duration-150;
}

/* .switch-content > div {
  @apply flex;
} */
.text-l33t {
  @apply bg-slate-900 border-slate-900 text-green-300;
}

/* stylelint-disable-next-line selector-class-pattern */
.react-flow__edges {
  z-index: 100 !important;
}

.guide .group {
  @apply flex-wrap;
}

.group > .content.row > div {
  @apply flex;
}

.group > .content.row > div > * {
  /* @apply not-last:border-r-0; */
}

.group > .content.column > div > * {
  /* @apply divide-x divide-gray-200; */
}

.react-flow .group > .content.row > div {
  @apply divide-x divide-gray-200;
}

.react-flow .group > .content.column > div {
  @apply divide-y divide-gray-200;
}

.react-flow .group > .content.row > div > * {
  @apply not-last:pr-1 not-first:pl-1;
}

.react-flow .group > .content.column > div > * {
  @apply py-1;
}

.react-flow .group > .content > div > * {
  @apply bg-zinc-50;
}

.group > .content > div > p {
  @apply my-0;
}

.node-group {
  @apply flex grow;
}

#guide .group.row > * {
  @apply not-last:mr-4;
}

#guide a {
  text-decoration: underline;
}

ul[data-type='taskList'] > li {
  @apply flex items-center;
}

ul[data-type='taskList'] > li > label {
  @apply mr-2;
}

/* This is just to give some upper bound on the width of paragraphs in the guide. It's not a perfect solution, but it's better than nothing. */
#guide p {
  max-width: 800px;
}
