@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

/* stylelint-disable selector-id-pattern */
#__next {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
/* stylelint-enable selector-id-pattern */

.todoapp {
  display: flex;
  flex-grow: 1;
}

.flex-fill {
  display: flex;
  flex-grow: 1;
}

/* stylelint-disable selector-class-pattern */
.react-flow__node {
  @apply p-0 m-0;
}

hr.ProseMirror-selectednode {
  @apply border-2 border-blue-600;
}

/* stylelint-enable selector-class-pattern */

.tool-button {
  @apply rounded bg-orange-500 hover:bg-white text-slate-900 hover:text-slate-800 flex justify-center px-2 py-1 transition-colors;
}

.stone:not(:last-child) {
  @apply mb-3;
}

.chart-prose > *:not(hr) {
  @apply mx-3;
}

.chart-prose > hr {
  height: 20px;
  @apply bg-slate-900 border-0 my-5;
}

.react-flow {
  @apply bg-slate-700;
}
